@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--font-family: "Nunito", sans-serif;

	//screen sizes
	--smarthphone-width: 480px;
	--tablet-width: 768px;
	--laptop-width: 1024px;
	--desktop-width: 1440px;
}

html {
	--background-color: #f5f5f5;
	--background-color-alternative: #ffffff;
	--text-color: #16181c;
	--primary-color: #f4b615;
	--primary-color-contrast: #ffffff;
	--disabled-color: #d9d9d9;
	--disabled-color-contrast: #888888;
	--error-color: #ff0000;
	--transparent-color: #16181c30;
	--note-red: #f28b82;
	--note-pink: #fdcfe8;
	--note-yellow: #fff475;
	--note-green: #ccff90;
	--note-blue: #aecbfa;
	--note-purple: #d7aefb;

	&[data-theme="dark"] {
		--background-color: #000000;
		--background-color-alternative: #16181c;
		--text-color: #e7e9ea;
		--primary-color: #f4b615;
		--primary-color-contrast: #ffffff;
		--disabled-color: #d9d9d9;
		--disabled-color-contrast: #888888;
		--error-color: #ff0000;
		--transparent-color: #e7e9ea30;
		--note-red: #5c2b29;
		--note-pink: #5b2245;
		--note-yellow: #635d19;
		--note-green: #345920;
		--note-blue: #2d555e;
		--note-purple: #42275e;
	}
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color);
	font-family: var(--font-family);
	color: var(--text-color);
	font-size: 10px;
}

//------------------------------MEDIA QUERIES------------------------------//
//#region smarthphone-width
@media (max-width: var(--smarthphone-width)) {
	//smarthphone-width
}

//#endregion smarthphone-width
//#region tablet-width
@media (max-width: var(--tablet-width)) {
	//tablet-width
}
//#endregion tablet-width

//#region laptop-width
@media (max-width: var(--laptop-width)) {
	//laptop-width
}

//#endregion laptop-width

//#region desktop-width
@media (max-width: var(--desktop-width)) {
	//desktop-width
}
//#endregion desktop-width
